@model IEnumerable<Seating.Models.Employee>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WCCCA Seating Chart</title>
    <link rel="icon" href="~/Content/Photos/WCCCA.jpg"
        type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
    <div style="margin-left:40rem;">
        <span style="font-size:60px;">Employee Management</span>
        <br />
        <div  style="margin-left:14rem; margin-top:1rem;">
            <a asp-action="Create" style="font-size:20px">Add New Employee</a>
        </div>        
    </div>
    <table class="table table-striped table-borderless" style="font-size:15px; margin-top:2rem; width:50rem; margin-left:35rem;">
      <thead>
        <tr>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Display Name</th>
          <th scope="col">Dispatch #</th>
        </tr>
      </thead>
      <tbody>
            @foreach(var item in Model.OrderBy(x => x.FirstName))
            {
                if (item.IsEmployed == true)
                {
                    <tr>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            @item.DisplayName
                        </td>
                        <td>
                            @item.DispatchNumber
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>                    
                }                
            }
            <tr>
      </tbody>
    </table>
</body>
</html>
