@model Seating.ViewModels.ListsVM 

<h3 style="margin-left:7rem; margin-bottom:1rem">Sign Up</h3>
<form asp-controller="Home" asp-action="CreateLunchPage" class="DthdropdownGroup ml-3">
    <div class="btn-group" style="margin-left:.3rem;">
        <select class="form-group btn- btn-sm dropdown-toggle d-inline-block pr-1 btn-outline-light" style="color:black; font-family: 'Roboto', sans-serif; font-size: 16px; width: 8.5em; padding-left: .2rem; background-color: whitesmoke" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="EmployeeId" asp-for="EmployeeId">
            <option>Dispatcher</option>
            @foreach (var item in Model.Employees)
            {
                <option class="dropdown-item pr-1 form-control" value="@item.Id">@item.DisplayName</option>
            }
        </select>
    </div>

    <div class="btn-group">
        <select class="form-group btn-sm dropdown-toggle d-inline-block btn-outline-light" style="color:black; font-family: 'Roboto', sans-serif; width: 8.5em; font-size: 16px; background-color: whitesmoke" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="EmpPosition" asp-for="EmpPosition">
            <option>Position</option>
            @foreach (var item in Model.Positions)
            {
                <option value="@item.Id">@item.PositionName</option>
            }
        </select>
    </div>

    <div class="btn-group">
        <select class="form-group btn-sm d-inline-block btn-outline-light" style="color:black; margin-top: -.5rem; width: 14em; font-size: 16px; font-family: 'Roboto', sans-serif; text-align:center; background-color: whitesmoke;" type="button" aria-haspopup="true" aria-expanded="false" asp-for="LunchTime">
            <option style="text-align:center">Lunch Time</option>
            @if ((DateTime.Now.Hour == 00))
            {
                <option disabled>_______________________</option>
                <option disabled class="dropdown-item" style="text-align:center; color:blue">1800 - 0400</option>
                @foreach (var item in ViewBag.eighteenafter12)
                {
                    <option class="dropdown-item">@item</option>
                }
            }
            @if ((DateTime.Now.Hour >= 00 && DateTime.Now.Hour <= 03))
            {
                <option disabled>_______________________</option>
                <option class="dropdown-item" style="text-align:center; color:blue;" disabled>2000 - 0600</option>
                foreach (var item in ViewBag.twentyafter12)
                {
                    <option class="dropdown-item">@item</option>
                }
            }
            @if ((DateTime.Now.Hour >= 00 && DateTime.Now.Hour <= 04))
            {
                <option disabled>_______________________</option>
                <option class="dropdown-item" style="text-align:center; color:blue" disabled>2200 - 0800</option>
                foreach (var item in ViewBag.twentytwoafter12)
                {
                    <option class="dropdown-item">@item</option>
                }
            }
            @if (DateTime.Now.Hour >= 01 && DateTime.Now.Hour <= 10)
            {
                <option disabled>_______________________</option>
                <option class="dropdown-item" disabled style="text-align:center; color:blue">0400 - 1400</option>
                foreach (var item in ViewBag.fourAM)
                {
                    <option class="dropdown-item">@item</option>
                }
            }
            @if (DateTime.Now.Hour >= 03 && DateTime.Now.Hour <= 12)
            {
                <option disabled>_______________________</option>
                <option class="dropdown-item" disabled style="text-align:center; color:blue;">0600 - 1600</option>
                foreach (var item in ViewBag.sixAM)
                {
                    <option class="dropdown-item">@item</option>
                }
            }
            @if (DateTime.Now.Hour >= 05 && DateTime.Now.Hour <= 14)
            {
                <option disabled>_______________________</option>
                <option class="dropdown-item disabled" style="text-align:center; color:blue">0800 - 1800</option>
                foreach (var item in ViewBag.eightAM)
                {
                    <option class="dropdown-item">@item</option>
                }
            }
            @if (DateTime.Now.Hour >= 07 && DateTime.Now.Hour <= 16)
            {
                <option disabled>_______________________</option>
                <option disabled class="dropdown-item" style="text-align:center; color:blue">1000 - 2000</option>
                foreach (var item in ViewBag.tenAM)
                {
                    <option class="dropdown-item">@item</option>
                }
            }
            @if (DateTime.Now.Hour >= 09 && DateTime.Now.Hour <= 18)
            {
                <option disabled>_______________________</option>
                <option class="dropdown-item" style="text-align:center; color:blue" disabled>1200 - 2200</option>
                foreach (var item in ViewBag.noon)
                {
                    <option class="dropdown-item">@item</option>
                }
            }
            @if (DateTime.Now.Hour >= 11 && DateTime.Now.Hour <= 20)
            {
                <option disabled>_______________________</option>
                <option class="dropdown-item" style="text-align:center; color:blue" disabled>1400 - 0000</option>
                foreach (var item in ViewBag.fourteenhundred)
                {
                    <option class="dropdown-item">@item</option>
                }
            }
            @if (DateTime.Now.Hour >= 13 && DateTime.Now.Hour <= 22)
            {
                <option disabled>_______________________</option>
                <option disabled class="dropdown-item pb-3" style="text-align:center; color:blue">1600 - 0200</option>
                foreach (var item in ViewBag.sixteenhundred)
                {
                    <option class="dropdown-item">@item</option>
                }
            }
            @if ((DateTime.Now.Hour >= 15 && DateTime.Now.Hour <= 23) || (DateTime.Now.Hour == 00))
            {
                <option disabled>_______________________</option>
                <option disabled class="dropdown-item" style="text-align:center; color:blue">1800 - 0400</option>
                foreach (var item in ViewBag.eighteenhundred)
                {
                    <option class="dropdown-item">@item</option>
                }
            }
            @if ((DateTime.Now.Hour >= 17 && DateTime.Now.Hour <= 23))
            {
                <option disabled>_______________________</option>
                <option class="dropdown-item" style="text-align:center; color:blue;" disabled>2000 - 0600</option>
                foreach (var item in ViewBag.twentyhundred)
                {
                    <option class="dropdown-item">@item</option>
                }
            }
            @if ((DateTime.Now.Hour >= 19 && DateTime.Now.Hour <= 23))
            {
                <option disabled>_______________________</option>
                <option class="dropdown-item" style="text-align:center; color:blue" disabled>2200 - 0800</option>
                foreach (var item in ViewBag.twentytwohundred)
                {
                    <option class="dropdown-item">@item</option>
                }
            }
        </select>
    </div>

    <div class="btn-group" style="margin-top:-2rem; margin-left:1rem">
        45<input style="margin-left:.2rem; margin-top: .4rem;" type="checkbox" id="flexCheckChecked" asp-for="LongerLunch">
    </div>

    <button type="submit" class="dropdownStyling btn btn-sm btn-block btn-outline-light" style="margin-left:-.5rem; margin-bottom: .5rem; width: 19rem; margin-top:-.5rem">Submit</button>
</form>