<div class="card border-0 d-inline-block align-top" style="width: 20rem; height:fit-content" id="lunchPageList">
    @*Lunches*@
    <div class="card-header text-center">
        <h3>Lunch</h3>
    </div>
    <div class="lunchRefresh">
        <table class="table table-bordered">
            <tbody>
                @foreach (var item in Model.Lunches)
                {
                    if (item.LongerLunch != true && item.DblLunch != true)
                    {
                        <tr>
                            <td class="w-75 h-25 p-0">
                                <input type="hidden" class="hiddenLunchID" value="@item.Id" />
                                <a href="Javascript:;" class="empNameLunch" style="font-size: large; color: black">@item.Employee.DisplayName-@item.Employee.DispatchNumber</a>
                            <td class="h-25 pl-2 pr-2 pb-0 pt-0" style="font-size:large; color:black">@item.EmpPositionNavigation.PositionName</td>
                            <td class="h-25 pl-2 pr-2 pb-0 pt-0" style="font-size:large">@item.LunchTime.ToString("HH:mm")</td>
                        </tr>                                
                    }
                    @*45 lunch*@
                    else if (item.LongerLunch == true && item.DblLunch != true)
                    {
                        <tr>
                            <td class="w-75 h-25 p-0">
                                <input type="hidden" class="hiddenLunchID" value="@item.Id" />
                                <a href="Javascript:;" class="empNameLunch" style="font-size: large; color: black">@item.Employee.DisplayName-@item.Employee.DispatchNumber<div style="font-weight: bold; display: inline-block; font-size: smaller">&nbsp;-45</div></a>
                            <td class="h-25 pl-2 pr-2 pb-0 pt-0" style="font-size: large; color: black">@item.EmpPositionNavigation.PositionName</td>
                            <td class="h-25 pl-2 pr-2 pb-0 pt-0" style="font-size:large">@item.LunchTime.ToString("HH:mm")</td>
                        </tr>                                
                    }
                    @*Double*@
                    else if (item.LongerLunch != true && item.DblLunch == true)
                    {
                        <tr style="background-color:yellow">
                            <td class="w-75 h-25 p-0">
                                <input type="hidden" class="hiddenLunchID" value="@item.Id" />
                                <a href="Javascript:;" class="empNameLunch" style="font-size: large; color: black">@item.Employee.DisplayName-@item.Employee.DispatchNumber<div style="font-weight:bold; display:inline-block; font-size:smaller">&nbsp;-Dbl</div></a>
                            <td class="h-25 pl-2 pr-2 pb-0 pt-0" style="font-size: large; color: black">@item.EmpPositionNavigation.PositionName</td>
                            <td class="h-25 pl-2 pr-2 pb-0 pt-0" style="font-size:large">@item.LunchTime.ToString("HH:mm")</td>
                        </tr>                                
                    }
                    @*Double and 45*@
                    else if (item.LongerLunch == true && item.DblLunch == true)
                    {
                        <tr style="background-color:yellow">
                            <td class="w-75 h-25 p-0">
                                <input type="hidden" class="hiddenLunchID" value="@item.Id" />
                                <a href="Javascript:;" class="empNameLunch" style="font-size: large; color: black">@item.Employee.DisplayName-@item.Employee.DispatchNumber<div style="font-weight:bold; display:inline-block; font-size:smaller">&nbsp;-45-Dbl</div></a>
                            <td class="h-25 pl-2 pr-2 pb-0 pt-0" style="font-size: large; color: black">@item.EmpPositionNavigation.PositionName</td>
                            <td class="h-25 pl-2 pr-2 pb-0 pt-0" style="font-size:large">@item.LunchTime.ToString("HH:mm")</td>
                        </tr>                                
                    }
                }
        </tbody>
    </table>
</div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.1/howler.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
