@model IEnumerable<Seating.Models.Break>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeEntered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeCleared)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpSent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpPositionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RlfPositionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeEntered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCleared)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpSent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpPositionNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RlfPositionNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
